<div class="module-wrapper backlog">
	<div class="form-header">
		<div class="line clearfix">
			<div class="form-item">
				<span class="form-tag">筛选条件:</span>
				<div class="form-input-wrapper">
					<a class="checkbox" hm-tap="statusClick($event,3)" ng-class="{'active':stageIds.indexOf(3)>-1}">
						<i>
							<em class="icon transition-02">&#xe605;</em>
						</i>
						<span>待交尾款</span>
					</a>
				</div>
				<div class="form-input-wrapper">
					<a class="checkbox" hm-tap="statusClick($event,6)" ng-class="{'active':stageIds.indexOf(6)>-1}">
						<i>
							<em class="icon transition-02">&#xe605;</em>
						</i>
						<span>待交车</span>
					</a>
				</div>
				<div class="form-input-wrapper">
					<a class="checkbox" hm-tap="statusClick($event,9)" ng-class="{'active':stageIds.indexOf(9)>-1}">
						<i>
							<em class="icon transition-02">&#xe605;</em>
						</i>
						<span>待上牌</span>
					</a>
				</div>
			</div>
			<a class="button pull-right" hm-tap="search()">搜索</a>
		</div>
	</div>
	<table class="table table-hover table-bordered backlog-table">
		<thead>
			<tr>
				<th>姓名</th>
				<th>电话</th>
				<th>商品详情</th>
				<th>订单价格</th>
				<th>当前状态</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<div class="modal fade custom-modal task-modal" tabindex="-1" role="dialog" aria-hidden="true" style="display: block;">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">{{title}}</div>
			<div class="modal-body">
				<p class="title">备注:</p>
				<textarea class="default-textarea" ng-model="remark" ng-class="{'error':submited&&(remark==undefined||remark=='')}" rows="4"></textarea>
				<div class="date-time-picker-wrapper">
					<p class="invite-time"><span class="tag">邀约时间:</span><i ng-if="isSkip==0">{{dateStr}}</i><i class="time" ng-if="isSkip==0">{{timeStr}}</i></p>
					<div class="date-time-picker">
						<div class="date-pick-wrapper">
							<a class="left-arrow arrow icon">&#xe607;</a>
							<div class="date-wapper swiper-container">
								<div class="swiper-wrapper clearfix" ng-style="wrapperStyle">
									<a class="date-item swiper-slide" ng-repeat="item in dateObj.date" hm-tap="dayClick(e,item,$index)" repeat-finish="dateFinish()" ng-class="{'active':$index==$dateIndex&&isSkip==0}">
										<span class="week-day">{{item.week}}</span>
										<span class="day">{{item.day}}</span>
									</a>
								</div>
							</div>
							<a class="right-arrow arrow icon">&#xe600;</a>
						</div>
						<div class="time-wrapper">
							<a class="time-item transition-02" ng-repeat="time in dateObj.time" hm-tap="timeClick($event,time)" ng-class="{'active':timeStr==time&&isSkip==0}">{{time}}</a>
						</div>
					</div>
					<div class="skip clearfix">
						<a class="checkbox" hm-tap="skip()" ng-class="{'active':isSkip==1}">
							<i>
								<em class="icon transition-02">&#xe605;</em>
							</i>
							<span>跳过此项</span>
						</a>
					</div>
					<p class="skip-info">选择下一次来店的邀约时间，无需邀约顾问再次电话邀约</p>
				</div>
			</div>
			<div class="modal-footer">
				<a class="button" hm-tap="affirm()">确定</a>
				<a class="button" data-dismiss="modal">取消</a>
			</div>
		</div>
	</div>
</div>


