<div class="module-wrapper client">
	<section class="client-list-wrapper" ng-hide="showDetail">
		<div class="form-header">
			<div class="line clearfix">
				<div class="form-item">
					<span class="form-tag">用户名:</span>
					<div class="form-input-wrapper">
						<input class="default-input" type="text" ng-model="searchParams.name" />
					</div>
				</div>
				<div class="form-item">
					<span class="form-tag">手机号:</span>
					<div class="form-input-wrapper">
						<input class="default-input" type="number" ng-model="searchParams.mobile" />
					</div>
				</div>
				<div class="form-item">
					<span class="form-tag">等级:</span>
					<div class="form-input-wrapper">
						<drop-down class="client-level" render-data="$root.enumData.userLevel" model="searchParams.userLv"></drop-down>
					</div>
				</div>
				<a class="button pull-right rest" hm-tap="search()">搜索</a>
				<a class="button pull-right" hm-tap="rest($event)">重置</a>
			</div>
		</div>
		<table class="table client-table">
			<thead>
				<tr>
					<th>姓名</th>
					<th>手机号</th>
					<th>创建时间</th>
					<th>等级</th>
					<th>最近一次备注</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</section>
	<section class="detail-tab" ng-show="showDetail">
		<header>
			<a class="go-back" hm-tap="goBack()">返回</a>
			<div class="tab-wrapper" role="tablist">
				<a class="tab-item detail-info active" data-target="#detail" role="tab" data-toggle="tab">用户信息</a>
				<a class="tab-item user-order-list" data-target="#order" role="tab" data-toggle="tab">订单信息</a>
				<a class="tab-item user-remark" data-target="#remark" role="tab" data-toggle="tab">备注</a>
			</div>
		</header>
		<div class="head clearfix" ng-hide="headHide">
			<span>ID:<i ng-bind="detailModel.userId"></i></span>
			<span>姓名:<i ng-bind="detailModel.realname"></i></span>
			<span>手机号: <i ng-bind="detailModel.mobile"></i></span>
		</div>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active fade in" id="detail">
				<client-update detail-data="userDetail" detail-model="detailModel" type="1" id="userId" ng-if="showDetail"></client-update>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="order">
				<table class="table client-detail-table">
					<thead>
						<tr>
							<th>订单号</th>
							<th>下单时间</th>
							<th>商品</th>
							<th>团购名称</th>
							<th>订单状态</th>
							<th>购买人</th>
							<th>手机号</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<button class="cycle-button icon add-btn transition-05" hm-tap="addOrder($event)">&#xe606;</button>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="remark">
				<table class="table remark-table">
					<thead>
						<tr>
							<th>备注</th>
							<th>等级</th>
							<th>购买人</th>
							<th>创建时间</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</div>