/*-----------------------
 * Site:  Sales-Tools-PAD - ./dist - index
 * Author: Clearlove 7*
 * Updated: 2017-11-05 15:13
 * Version: 1.0.0
 * -----------------------*/
.form-header {
  padding: 23px 0 43px 0; }
  .form-header .line {
    padding: 8px 0;
    height: 106px; }
  .form-header .form-item {
    float: left;
    line-height: 90px;
    font-size: 36px;
    margin-right: 40px; }
    .form-header .form-item .form-tag {
      float: left;
      color: #888; }
    .form-header .form-item .form-input-wrapper {
      float: left;
      margin: 11px 0;
      line-height: 64px;
      margin-left: 20px; }
    .form-header .form-item .dropdown {
      padding: 0 20px; }
    .form-header .form-item .date-range-picker-wrapper {
      position: relative;
      padding: 0; }
      .form-header .form-item .date-range-picker-wrapper .date-range-picker {
        width: 100%;
        background-color: transparent;
        padding: 0 60px 0 20px; }
      .form-header .form-item .date-range-picker-wrapper .icon {
        position: absolute;
        top: 0;
        display: inline-block;
        width: 60px;
        font-size: 48px;
        text-align: center; }
      .form-header .form-item .date-range-picker-wrapper .icon-right {
        right: 0; }
      .form-header .form-item .date-range-picker-wrapper .icon-left {
        left: 0; }
    .form-header .form-item .start-date, .form-header .form-item .end-date {
      width: 276px;
      margin: 0;
      font-size: 32px; }
    .form-header .form-item .bridge {
      margin: 0 40px; }
    .form-header .form-item .end {
      margin-left: 0; }
    .form-header .form-item .date-picker .icon {
      font-size: 48px;
      margin-left: 10px; }
    .form-header .form-item .checkbox {
      float: left;
      height: 68px;
      line-height: 68px;
      margin: 0; }
      .form-header .form-item .checkbox i {
        display: inline-block;
        width: 46px;
        height: 46px;
        line-height: 46px;
        border: 2px solid #dcdcdc;
        position: relative;
        float: left;
        margin: 11px 30px; }
        .form-header .form-item .checkbox i em {
          font-size: 56px;
          position: absolute;
          right: -15px;
          top: -6px;
          color: #55da99;
          opacity: 0; }
      .form-header .form-item .checkbox span {
        float: left;
        font-size: 36px; }
    .form-header .form-item .checkbox.active i em {
      opacity: 1; }
  .form-header .form-item.last {
    margin-right: 0; }
  .form-header .error-msg {
    line-height: 90px; }

.order .form-header .form-item .tuan-name {
  width: 276px; }

.order .form-header .form-item .buy-man {
  width: 232px; }

.order .form-header .form-item .buy-man-num {
  width: 284px; }

.order .form-header .form-item .order-state {
  width: 343px; }

.order .form-header .form-item .dorder-date {
  width: 690px; }

.task-modal .modal-body .title {
  line-height: 94px;
  font-size: 36px;
  color: #888; }

.order-info {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  padding: 0 80px;
  background-color: #f5f5f5;
  line-height: 90px; }
  .order-info header {
    padding: 20px 0;
    margin-bottom: 10px; }
    .order-info header span {
      margin-left: 84px; }
  .order-info .info-block {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 28px; }
    .order-info .info-block h3 {
      height: 98px;
      line-height: 98px;
      padding: 0 64px;
      font-size: 36px;
      font-weight: bold;
      background-color: #e3e7eb; }
    .order-info .info-block .info-body {
      padding: 10px 64px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .order-info .info-block .info-body div {
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
        padding: 23px 0;
        line-height: 36px;
        word-break: break-all;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-right: 20px; }
      .order-info .info-block .info-body span {
        word-break: keep-all; }
      .order-info .info-block .info-body i {
        margin-left: 20px; }
    .order-info .info-block .info-footer {
      text-align: right;
      padding: 0 64px; }
  .order-info .pay-info span {
    display: inline-block;
    float: left;
    text-align: center; }
  .order-info .pay-info .channel {
    width: 200px;
    text-align: left; }
  .order-info .pay-info .pay-no {
    width: 1040px; }
  .order-info .pay-info .pay-amount {
    width: 200px; }
  .order-info .pay-info .pay-date {
    width: 304px;
    float: right; }
  .order-info .pay-info .info-body {
    display: block; }
    .order-info .pay-info .info-body .line {
      width: 100%; }

.add-order-modal {
  margin-top: -1000px; }
  .add-order-modal .modal-dialog {
    font-size: 28px; }
    .add-order-modal .modal-dialog .modal-content .modal-header {
      font-size: 66px;
      padding: 0;
      line-height: 174px;
      text-align: center; }
    .add-order-modal .modal-dialog .modal-content .config {
      color: #888;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .add-order-modal .modal-dialog .modal-content .config .item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding: 28px 54px;
        margin-bottom: 54px;
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
        position: relative;
        line-height: 52px; }
        .add-order-modal .modal-dialog .modal-content .config .item > span {
          line-height: 56px; }
        .add-order-modal .modal-dialog .modal-content .config .item .subjoin {
          display: inline-block;
          position: absolute;
          left: 244px;
          bottom: -30px;
          color: #00c9a7; }
        .add-order-modal .modal-dialog .modal-content .config .item .dropdown {
          width: 256px; }
          .add-order-modal .modal-dialog .modal-content .config .item .dropdown a {
            color: #888; }
          .add-order-modal .modal-dialog .modal-content .config .item .dropdown .dropdown-menu {
            background-color: #fff; }
            .add-order-modal .modal-dialog .modal-content .config .item .dropdown .dropdown-menu li {
              line-height: 56px;
              height: 58px;
              font-size: 28px; }
        .add-order-modal .modal-dialog .modal-content .config .item .default-input {
          width: 256px;
          height: 56px;
          line-height: 54px;
          font-size: 28px; }
    .add-order-modal .modal-dialog .modal-content .modal-footer {
      height: auto;
      color: #888; }
      .add-order-modal .modal-dialog .modal-content .modal-footer p {
        text-align: left;
        padding: 0 54px;
        line-height: 64px; }
        .add-order-modal .modal-dialog .modal-content .modal-footer p i {
          margin-left: 18px; }
      .add-order-modal .modal-dialog .modal-content .modal-footer .total {
        font-size: 66px;
        line-height: 1.5; }
      .add-order-modal .modal-dialog .modal-content .modal-footer .btn-wrapper {
        margin-top: 40px; }

.add-pay-modal {
  margin-top: -1200px; }
  .add-pay-modal .modal-dialog {
    font-size: 28px; }
    .add-pay-modal .modal-dialog .modal-content .modal-header {
      font-size: 66px;
      padding: 0;
      line-height: 174px;
      text-align: center; }
    .add-pay-modal .modal-dialog .modal-content .line {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #888; }
      .add-pay-modal .modal-dialog .modal-content .line .item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 34px 54px;
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
        position: relative;
        line-height: 52px; }
        .add-pay-modal .modal-dialog .modal-content .line .item .default-input {
          line-height: 52px;
          height: 56px;
          font-size: 28px;
          width: 256px; }
        .add-pay-modal .modal-dialog .modal-content .line .item > span {
          line-height: 56px;
          word-break: keep-all; }
        .add-pay-modal .modal-dialog .modal-content .line .item .dropdown {
          width: 256px; }
          .add-pay-modal .modal-dialog .modal-content .line .item .dropdown a {
            color: #888; }
          .add-pay-modal .modal-dialog .modal-content .line .item .dropdown .dropdown-menu {
            background-color: #fff; }
            .add-pay-modal .modal-dialog .modal-content .line .item .dropdown .dropdown-menu li {
              line-height: 56px;
              height: 58px;
              font-size: 28px; }
      .add-pay-modal .modal-dialog .modal-content .line .special {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        line-height: 30px; }
        .add-pay-modal .modal-dialog .modal-content .line .special .default-textarea {
          margin-left: 104px;
          font-size: 28px;
          line-height: 50px;
          height: 304px; }
        .add-pay-modal .modal-dialog .modal-content .line .special > span {
          line-height: 30px; }
        .add-pay-modal .modal-dialog .modal-content .line .special .img-list {
          width: 100%;
          margin-left: 34px; }
          .add-pay-modal .modal-dialog .modal-content .line .special .img-list ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
          .add-pay-modal .modal-dialog .modal-content .line .special .img-list li {
            height: 252px;
            width: 252px;
            text-align: center;
            line-height: 248px;
            border-radius: 5px;
            border: 2px solid #dcdcdc;
            background-color: #f5f5f5;
            margin-right: 70px;
            position: relative; }
            .add-pay-modal .modal-dialog .modal-content .line .special .img-list li a.del-img {
              width: 62px;
              line-height: 62px;
              height: 62px;
              position: absolute;
              right: -31px;
              top: -31px;
              font-size: 36px;
              color: #fff;
              z-index: 1000; }
            .add-pay-modal .modal-dialog .modal-content .line .special .img-list li img {
              position: absolute;
              width: 100%;
              z-index: 999;
              left: 0;
              height: auto; }
          .add-pay-modal .modal-dialog .modal-content .line .special .img-list li:after {
            font-family: 'iconfont';
            content: '\e606';
            font-size: 110px;
            color: #e1e1e1;
            font-weight: bold; }
    .add-pay-modal .modal-dialog .modal-content .line:last-child {
      margin-bottom: 40px; }
