/*-----------------------
 * Site:  Sales-Tools-PAD - ./dist - index
 * Author: Clearlove 7*
 * Updated: 2017-11-04 17:36
 * Version: 1.0.0
 * -----------------------*/
.form-header {
  padding: 23px 0 43px 0; }
  .form-header .line {
    padding: 8px 0;
    height: 106px; }
  .form-header .form-item {
    float: left;
    line-height: 90px;
    font-size: 36px;
    margin-right: 40px; }
    .form-header .form-item .form-tag {
      float: left;
      color: #888; }
    .form-header .form-item .form-input-wrapper {
      float: left;
      margin: 11px 0;
      line-height: 64px;
      margin-left: 20px; }
    .form-header .form-item .default-input {
      float: left;
      background-color: transparent;
      font-size: 36px;
      width: 380px;
      padding: 0 20px;
      border: 2px solid #dcdcdc;
      border-radius: 5px;
      height: 68px;
      line-height: 64px; }
    .form-header .form-item .dropdown {
      padding: 0 20px; }
    .form-header .form-item .date-range-picker-wrapper {
      position: relative;
      padding: 0; }
      .form-header .form-item .date-range-picker-wrapper .date-range-picker {
        width: 100%;
        background-color: transparent;
        padding: 0 60px 0 20px; }
      .form-header .form-item .date-range-picker-wrapper .icon {
        position: absolute;
        top: 0;
        display: inline-block;
        width: 60px;
        font-size: 48px;
        text-align: center; }
      .form-header .form-item .date-range-picker-wrapper .icon-right {
        right: 0; }
      .form-header .form-item .date-range-picker-wrapper .icon-left {
        left: 0; }
    .form-header .form-item .start-date, .form-header .form-item .end-date {
      width: 276px;
      margin: 0;
      font-size: 32px; }
    .form-header .form-item .bridge {
      margin: 0 40px; }
    .form-header .form-item .end {
      margin-left: 0; }
    .form-header .form-item .date-picker .icon {
      font-size: 48px;
      margin-left: 10px; }
    .form-header .form-item .checkbox {
      float: left;
      height: 68px;
      line-height: 68px;
      margin: 0; }
      .form-header .form-item .checkbox i {
        display: inline-block;
        width: 46px;
        height: 46px;
        line-height: 46px;
        border: 2px solid #dcdcdc;
        position: relative;
        float: left;
        margin: 11px 30px; }
        .form-header .form-item .checkbox i em {
          font-size: 56px;
          position: absolute;
          right: -15px;
          top: -6px;
          color: #55da99;
          opacity: 0; }
      .form-header .form-item .checkbox span {
        float: left;
        font-size: 36px; }
    .form-header .form-item .checkbox.active i em {
      opacity: 1; }
  .form-header .form-item.last {
    margin-right: 0; }
  .form-header .error-msg {
    line-height: 90px; }

.order .form-header .form-item .tuan-name {
  width: 276px; }

.order .form-header .form-item .buy-man {
  width: 232px; }

.order .form-header .form-item .buy-man-num {
  width: 284px; }

.order .form-header .form-item .order-state {
  width: 343px; }

.order .form-header .form-item .dorder-date {
  width: 690px; }

.task-modal .modal-body .title {
  line-height: 94px;
  font-size: 36px;
  color: #888; }

.order-info {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  padding: 0 80px;
  background-color: #f5f5f5;
  line-height: 90px; }
  .order-info header {
    padding: 20px 0;
    margin-bottom: 10px; }
    .order-info header span {
      margin-left: 84px; }
  .order-info .info-block {
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 28px; }
    .order-info .info-block h3 {
      height: 98px;
      line-height: 98px;
      padding: 0 64px;
      font-size: 36px;
      font-weight: bold;
      background-color: #e3e7eb; }
    .order-info .info-block .info-body {
      padding: 10px 64px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .order-info .info-block .info-body div {
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
        padding: 23px 0;
        line-height: 36px;
        word-break: break-all;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-right: 20px; }
      .order-info .info-block .info-body span {
        word-break: keep-all; }
      .order-info .info-block .info-body i {
        margin-left: 20px; }
    .order-info .info-block .info-footer {
      text-align: right;
      padding: 0 64px; }
  .order-info .pay-info span {
    display: inline-block;
    float: left;
    text-align: center; }
  .order-info .pay-info .channel {
    width: 200px;
    text-align: left; }
  .order-info .pay-info .pay-no {
    width: 1040px; }
  .order-info .pay-info .pay-amount {
    width: 200px; }
  .order-info .pay-info .pay-date {
    width: 304px;
    float: right; }
  .order-info .pay-info .info-body {
    display: block; }
    .order-info .pay-info .info-body .line {
      width: 100%; }

.add-order-modal {
  margin-top: -1000px; }
  .add-order-modal .modal-dialog {
    font-size: 28px;
    color: #888; }
    .add-order-modal .modal-dialog .modal-content .modal-header {
      font-size: 66px;
      padding: 0;
      line-height: 174px;
      text-align: center; }
    .add-order-modal .modal-dialog .modal-content .config {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .add-order-modal .modal-dialog .modal-content .config .item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 28px 54px;
        margin-bottom: 54px;
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
        position: relative; }
        .add-order-modal .modal-dialog .modal-content .config .item .subjoin {
          display: inline-block;
          position: absolute;
          left: 244px;
          bottom: -30px;
          color: #00c9a7; }
        .add-order-modal .modal-dialog .modal-content .config .item .dropdown {
          width: 256px; }
    .add-order-modal .modal-dialog .modal-content .modal-footer {
      height: auto; }
      .add-order-modal .modal-dialog .modal-content .modal-footer p {
        text-align: left;
        padding: 0 54px;
        line-height: 64px; }
